
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.chat {
  &__composer {
    display: flex;
    input {
      flex: 1 auto;
    }
    button {
      border-radius: 0;
    }
  }
  
  &__message {
    padding: 1rem;
    &:nth-child(even) {
      background-color: #ccc;
    }
    p {
      margin-bottom: .5rem;
    }
  }

  &__log {
    .empty {
      padding: 1rem;
      text-align: center;
    }
  }
}